.twitterSidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.twitterSidebarOption:hover {
  background-color: #e8f5fe;
  border-radius: 30px;
  color: var(--twitter-color);
  transition: color 100ms ease-out;
}

.twitterSidebarOption > .MuiSvgIcon-root {
  padding: 20px;
}

.twitterSidebarOption > h2 {
  color: rgb(15,20,25);
  font-weight: 400;
  font-size: 20px;
  margin-right: 20px;
}

.twitterSidebarOption--active {
  color: var(--twitter-color);
}