.tiktokPost {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
  scroll-snap-align: start;
}

@media (min-width: 769px) {
  .tiktokPost {
    max-width: 414px;
    margin: 0 auto;
  }
}
