.finish {
  padding: 20px;
  margin-top: 10px;
}

.finishTopLink {
  text-align: center;
  padding: 20px;
  font-size: large;
  font-family: '"Roboto", "Helvetica", "Arial", sans-serif';
}

.finishBottom > h6 {
  text-align: center;
}

.finishTop {
  margin-bottom: 8%;
}