.postBottom {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.postBottom > p {
  font-size: 12px !important;
  font-family: 'Noto Sans', sans-serif;
}

.twitterPostTopText {
  padding-right: 15px;
}

/* .twitterPostTopText > p {
  font-size: 15px;
  font-family: '14px -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif';
} */