.tweetBox {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-background);
  padding-right: 10px;
}

.tweetBox > form {
  display: flex;
  flex-direction: column;
}

.tweetBoxInput {
  padding: 20px;
  display: flex;
}

.tweetBoxInput > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
}

.tweetBoxImageInput {
  border: none;
  padding: 10px;
}

.tweetBoxButton {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 80px;
  height: 40px !important;
  margin-left: auto !important;
}

.newFeedInputArea {
  border-style: none;
  height: 100px;
  width: 100%;
  font-family: 'Noto Sans', sans-serif;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

.twitterPostMessage {
  display: flex;
  border-bottom: 1px solid #eff2f5;
  padding: 15px;
  width: 100%;
}

.tweetBoxTweetButton {
  width: 30%;
}

.newModalOption {
  display: flex;
}

.tweetBoxBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  border-color: #D3D3D3;
  margin-left: 30px;
}

.tweetBoxOtherButton {
  display: flex;
  justify-content: flex-start;
  width: 70%;
}

.buttonTwitterColor {
  color: var(--twitter-color);
}

.selectedFile {
  width: 100%;
}

.container {
  position: relative;
}

.container img {
  width: 100%;
  height: auto;
}

.sharePreview {
  width: auto;
  height: 100%;
  max-height: 30vh;
  overflow: scroll;
  overflow-x: hidden;
  font-size: small;
  font-family: 'Noto Sans', sans-serif;
}

.sharePostPreview {
  margin: 8px;
  border: 1px solid lightgray;
  border-radius: 8px;
  font-size: small;
  font-family: 'Noto Sans', sans-serif;
}

.modalContainerPaper {
  background-color: white;
  box-shadow: 0px 5px 7px -7px rgba(0,0,0, 0.75);
  padding: 8px;
  border-radius: 8px;
}

.modalTop {
  height: 60px;
  align-items: center;
  border-bottom: 1px solid #E8E8E8;
  flex-direction: row;
  display: flex;
  /* width: 90%; */
  width: 100%;
}

.modalTopBtn {
  width: 10%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.modalTopBtn .btn {
  color: gray;
  border-radius: 50%;
}

.tweetBoxIcons {
  border: none !important;
  min-width: 0 !important;
  border-radius: 50% !important;
}