/* .accessPage {
  background-color: #2472b2 !important;
  margin: 24px 0px 16px !important;
}

.accessPage:hover {
  background-color: #2472b2 !important;
}

input {
  font-family: 'Noto Sans', sans-serif !important;
  font-size: 16px !important;
  outline-color: #2472b2 !important;
}

input:focus {
  outline-color: #2472b2 !important;
  font-family: 'Noto Sans', sans-serif !important;
  font-size: 16px !important;
}

.MuiButton-label {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
} */