.twitter {
  display: flex;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 750px) {
  .hideInMobile {
      display: none;
  }
}

.hideInMobile {
  height: 100vh;
  position: sticky;
  top: 0;
}

.twitterNextScreen {
  padding-top: 30px;
}