/* .postImage > img {
  width: 100%;
} */

/* .postImage > video {
  width: 100%;
} */

.postTopAvatar {
  margin-right: 10px
}

.postTopInfo > h3 {
  font-size: small;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
}

.postTopInfo > p {
  font-size: x-small;
  color: gray;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
}
/* .postBottom {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px 25px;
} */

.postTop {
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 15px;
  padding-top: 15px;
}

.postOptions {
  padding-top: 10px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-evenly;
  color: gray;
  cursor: pointer;
  padding: 5px;
  padding-right: 4px;
  margin-left: -2px;
  flex-shrink: 0;
  /* margin-top: -6px; */
  align-items: stretch;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  margin-right: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
  font-size: 12px;
  color: #606770;
}

.postOption {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  flex: 1;
  height: 44px;
  margin-bottom: -6px;
  padding-top: 0;
  margin-top: -6px;
}

.postOption > p {
  margin-left: 10px;
}

.postOption:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.selectedFile {
  width: 100%;
}

.og-image > img {
  width: 100%;
}

/* .link-preview { */
  /* display: table-caption; */             
  /* make text wrap under image  */
  /* text-decoration: none;
} */

/* .descriptions {
  background-color: #F2F3F5;
  padding: 5px;
}

a.link-preview .link-area .og-title {
  font-size: medium;
  padding-bottom: 15px;
}

.og-title {
  font-family: Helvetica, sans-serif;
  color: #828282;
}

.og-description {
  text-overflow: ellipsis;
  font-family: Helvetica, sans-serif;
  color: black
} */

.createComment {
  display: flex;
  border-bottom: 1px solid #eff2f5;
  padding: 15px;
}

.createComment > form {
  flex: 1;
  display: flex;
}

.createComment > form > input {
  outline-width: 0;
  border: none;
  padding: 5px 20px;
  margin: 0 10px;
  border-radius: 999px;
  background-color: #eff2f5;
}

.newFeedInputArea {
  border-style: none;
  height: 100px;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

.newFeedInputAreaShare {
  border-style: none;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

.createCommentInputText {
  flex: 1;
}

.showComment {
  border-bottom: 1px solid #eff2f5;
  padding: 10px;
  display: flex;
  margin-left: 5%;
}

.displayIndividualComment {
  outline-width: 0;
  overflow-wrap: 'anywhere';
  border: none;
  border-radius: 20px 20px;
  background-color: #eff2f5;
  flex: 1;
  padding: 10px;
  margin: 3px 5px;
  font-size: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
}

.postComment {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: none;
  color: grey;
  cursor: pointer;
}







.link-preview {
  /* display: table-caption; */             
  /* make text wrap under image  */
  text-decoration: none;
}

.descriptions {
  background-color: #F2F3F5;
  padding: 5px;
}

a.link-preview .link-area .og-title {
  font-size: medium;
  padding-bottom: 15px;
}

.og-title {
  /* font-family: Helvetica, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
  color: #828282;
  font-size: 12px;
}

.fontFamily {
  color: black;
  font-size: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
}

.og-description {
  text-overflow: ellipsis;
  /* font-family: Helvetica, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
  color: black;
  font-size: 12px;
}

.container {
  position: relative;
}

.container img {
  width: 100%;
  height: auto;
}

.modalContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

.modalContainerShare {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

.container .btn {
  position: absolute;
  color: gray;
  font-size: 20px;
  /* padding: 12px 24px; */
  border: none;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  top: 8px;
  right: 16px;
}

.container .btn:hover {
  background-color: #eff2f5;
  box-shadow: 0px 0px 1px 1px grey;
}

.postTopThreeDots {
  position: absolute;
  color: gray;
  font-size: 10px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  right: 15px;
}

.postTopThreeDots:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.modalTopFont {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
  text-align: center;
  font-size: 1.25rem;
  width: 90%;
  /* flex: 1; */
  display: flex;
  justify-content: space-around;
}

.modalTop {
  height: 60px;
  align-items: center;
  border-bottom: 1px solid #E8E8E8;
  flex-direction: row;
  display: flex;
  /* width: 90%; */
  width: 100%;
}

.modalTopBtn {
  width: 10%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.modalTopBtn .btn {
  color: gray;
  border-radius: 50%;
}

.newModalBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  border-color: #D3D3D3;
}

.newModalOption {
  display: flex;
}

.newModalWidth1 {
  width: 45%;
}

.newModalWidth2 {
  display: flex;
  justify-content: space-evenly;
  width: 55%;
}

.modalContainerPaper {
  /* background-color: rgba(192,192,192,0.6); */
  background-color: white;
  box-shadow: 0px 5px 7px -7px rgba(0,0,0, 0.75);
  padding: 8px;
  border-radius: 8px;
}

.sharePreview {
  width: auto;
  height: 100%;
  max-height: 30vh;
  overflow: scroll;
}