.DraftEditor-root {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  font-weight: 200;
}

p {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  font-weight: 200;
}

.fakePostDetails {
  margin: 8px;
}