.facebookMainBody {
  /* display: flex; */
  /* width: auto; */
  /* background-color: #F2F3F5; */
  /* height: 100vh; */
  justify-content: center;
  /* margin-left: 30%;
  margin-right: 30%; */
  /* background-color: #F2F3F5; */
  margin-bottom: 60px; /* facebook posts */
  width: '100%',
  /* margin-top: theme.spacing(1), */
}
